.meal__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-new-meal {
  margin-block: 2em;
}
.meal__section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25em;
}
.nutrition-img {
  width: max-content;
  object-fit: cover;
  margin-bottom: 1em;

  /* mix-blend-mode: multiply; */
}
.meal__section-text {
  text-align: center;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn-toggle-clamp {
  margin-block: 1em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

/* product__search */
.product__search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
  overflow: scroll;
}
.product__search-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
}
.item__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28em;
  margin-block: 0.4em;
}
.btn-add {
  margin-left: 1em;
  height: 2.5em;
}
.product__title {
  color: var(--light);
}

/* meal__grid */
.meal__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 2em;
}
.product__sum ol {
  width: 70%;
  display: flex;
  justify-content: space-around;
  list-style: disc;
  padding: 0;
}
.product__component-div {
  display: flex;
}
.product {
  display: flex;
  align-items: center;
}
.btn-delete {
  width: 2.2em;
  height: 2.2em;
  margin-right: 1em;
}
.product__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product__nutrition-info .product__title {
  color: var(--blueHeader);
}
.product__weight {
  opacity: 0.5;
  font-style: italic;
}
.nutrition__details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: disc;
  padding: 0;
}
.nutrition__details li {
  margin-inline: 0.6em;
}
.product__chart {
  width: 6em;
  height: 6em;
  margin-bottom: 0.6em;
  margin-left: 1em;
  position: relative;
}
.product__chart-kcal {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}

/* meal__grid-sum */
.meal__grid-sum {
  position: relative;
  width: 20em;
  height: 20em;
}
.meal__grid-sum-kcal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}

/* global classes */
.hidden {
  display: none;
}
legend {
  color: var(--blue);
}
