:root {
  --blue: #1943cf;
  --lightGrey: #f6f6f8;
  /*  */
  --fontColor: hsl(25, 47%, 15%);
  --backgroundOrange: hsl(10, 79%, 65%);
  --backgroundWhite: #fff;
  --backgroundBisque: hsl(27, 66%, 92%);
}

.meal__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-wrapper {
}
.btn-new-meal {
  margin-block: 2em;
}
.meal__section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25em;
}
.nutrition-img {
  width: max-content;
  object-fit: cover;
  margin-bottom: 1em;

  /* mix-blend-mode: multiply; */
}
.meal__section-text {
  text-align: center;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.btn-toggle-clamp {
  margin-block: 1em;
  text-transform: uppercase;
}

/* product__search */
.product__search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.627);
  z-index: 1;
  overflow: scroll;
}
.product__search-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
}
.item__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28em;
  margin-block: 0.4em;
}
.btn-add {
  margin-left: 1em;
  height: 2.5em;
}
.product__title {
  color: #f3f3f4;
}

/* meal__grid */
.meal__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  padding: 2em;
}
.product__component {
  /* background-color: red; */
}
.product__component-wrapper {
  /* background-color: yellow; */
}
.product__component-div {
  /* background-color: green; */
  display: flex;
}
.product {
  background-color: #39bda7;
  display: flex;
  align-items: center;
}
.btn-delete {
  width: 2.2em;
  height: 2.2em;
  margin-right: 1em;
}
.product__wrapper {
  /* background-color: #1943cf; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product__nutrition-info {
}
.product__weight {
  opacity: 0.5;
  font-style: italic;
}
.nutrition__details {
  /* background-color: #4f4f4f; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: disc;
  padding: 0;
}
.nutrition__details li {
  margin-inline: 0.6em;
}
.product__chart {
  width: 6em;
  height: 6em;
  margin-bottom: 0.6em;
  margin-left: 1em;
  position: relative;
}
.product__chart-kcal {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}

/*  */
.meal__grid-article {
}

/* meal__grid-sum */
.meal__grid-sum {
  position: relative;
  width: 20em;
  height: 20em;
}
.meal__grid-sum-kcal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
}

/* global classes */
.hidden {
  display: none;
}

/* ========== input ========== */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 20em;
  margin-right: 1em;
}
.input {
  width: 100%;
  height: 2.5em;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 0.6em;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}
.input::placeholder {
  color: #9e9ea7;
}
.input:focus,
.input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
/* ========== input ========== */
/* ========== btn ========== */
.button {
  display: inline-block;
  padding: 0.3em 0.6em;
  border: 1px solid #4f4f4f;
  border-radius: 0.5em;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  color: black;
  z-index: 1;
}

.button:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
/* ========== btn ========== */
